body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    overflow: hidden;
    margin: auto;
}

ul{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background: #ffffff;
    color: #000;
    padding-top: 0;
    min-height: 5%;
    border-bottom: 50px #0D3786 solid;
}


header a{
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding img{
    float: left;
    margin:0;
    margin-top: 0;  
}

header #branding #rgt{
    float: left;
}

header #branding #lft{
    float: right;
}

header nav{
    margin-top: 20px;
}


header .highlight, header .current a{
    color: #ffffff;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

@keyframes layer2anim{
    0%{
        opacity: 0;
    }
    17%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    67%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes layer3anim{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    67%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.slideshow{
    position: relative;
}

.placeholder{
    height: 100%;
    width:100%;
    visibility: hidden;
}


.layer1, .layer2, .layer3{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer1{
    background: url('../img/android.jpg');
}

.layer2{
    background: url('../img/webdesign.jpeg');
    animation: layer2anim 5s infinite;
}

.layer3{
    background: url('../img/webdesigner.jpg');
    animation: layer3anim 5s infinite;
}

./


#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #990716;
}

#newsletter h1{
     float: left;
     margin-left:10%;
}

footer{
    padding:20px;
    margin-top: 0px;
    color: #ffffff;
    background-color: #5B5B5B;
    text-align:center;
    font-size: 18px;

}

