body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    width: 100%;
    background-color: #f4f4f4;
}

.container{
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    margin: auto;
    width:100%;

    background: #ffffff;
    color: #000;
    height: 6%;
    border-bottom: 3px #0D3786 solid;
}

/*Header*/



#branging{
    float:left;
    margin-left:0;
    margin-right:0;
    padding:0;
}
#branding h1{
    margin-top:1.2px;
    margin-left: 18px;
    margin-bottom: 0;
    float:left;
}

#branding form{
    float: right;
    width: 40%;
    margin-top: 0.5%;
    margin-right:3.5%;
}

.login{
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    border-radius: 8px;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.login:hover{
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.24), 0 10px 60px 0 rgba(0,0,0,0.19);
    background-color: #13901D;
    color:white;
}
input[type=submit] {
    width: 18%;
    background-color: #4CAF50;
    color: white;
    padding: 3px 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


input[type=text]{
    width: 40%;
    padding: 3px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@keyframes layer2anim{
    0%{opacity: 0;}
    17%{opacity: 0;}
    33%{opacity: 1;}
    50%{opacity: 1;}
    67%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes layer3anim{
    0%{opacity: 0;}
    50%{opacity: 0;}
    67%{opacity: 1;}
    87%{opacity: 1;}
    100%{opacity: 0;}
}

.slideshow{
    position: relative;
    height: 100%;
    padding: 0;
}

.placeholder{
    position: absolute;
    width:100%;
    height: 90%;

}


.layer1, .layer2, .layer3{
    position: absolute;
    width: 100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer1{
    background-image: url('../img/slide1.png');
}

.welcome{
    float: left;
    position: relative;
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    text-align: none;
}
.well{
    background: rgba(0, 0, 0, 0.65);
    width:40%;
    padding: 0 3% 1% 3%;
    position: relative;
    border-radius: 5px;
}



.layer2{
    background-image: url('../img/slide2.png');
    animation: layer2anim 15s infinite;
}

.layer3{
    background-image: url('../img/slide3.png');
    animation: layer3anim 15s infinite;
}


.slideover{
    position: absolute;
    width: 60%;
    margin-left:15%;
    margin-top:8%;
    background: rgba(0, 0, 0, 0.65);
    padding: 0 3% 1% 3%;
    border-radius: 5px;
}

.slide_padd{
    
    margin-top: 1%;
    margin-left: 2%;
}

.slideover p{
    position: relative;
    font-size: 15px;
    height: 20%;
    padding: 0;
    margin-bottom: 0;
    color: #ffffff;
}

.slide_padd input[type="keyword"]{
    font-size: 15px;
    width: 55%;
    border-radius: 4px;
    height: 42%;
}

.selectpicker{
    color: #8C9090;
    font-size: 15px;
    width: 24%;
    height: 42%;
}
.button1{
    height: 42%;
    font-size: 15px;
    background: #1DAEAE;
    border-radius: 2.5px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


footer p{
    height: 4%;
    background-color: #5B5B5B;
    text-align:center;
    font-size: 15px;
    margin-top:0;
    margin-bottom: 0;
}

#boxes .box{
    float: left;
    text-align: justify;
    width:45%;
}
.box h2,.box p{
    margin-top: 10%;
    font-size: 14px;
}
